main{
    background-color: cadetblue;
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center ;
}
.container-flex-publi{
    background-color: blue;
    width: 90%;
    max-width: 900px;
    height: 700px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
#storys{
  /*  background-color: brown;*/
    width: 100%;
    display: flex;
   align-items: center;
   justify-content: space-between;
   gap: 20px;
   padding: 10px;
   overflow-x: scroll;
}

#storys::-webkit-scrollbar{
    width: 0;
}


.card-story{
 /*width: 100%;
 max-width: 100px;  
 background-color: coral;*/
}

.card-story > a{
    /*background-color: crimson;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    text-decoration: none;
}
.card-story > a > img{
    border-radius: 50%;
    width: 80px;
    height: 80px;
    object-fit: cover;
    object-position: center;
}
.card-story > a > span{
   
   color: var(--cor-preto);
   font-size: var(--tamanho-fonte-sm);
   text-decoration: none;
}

/*secao cria publi*/
#cadastro-publi{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 3%;
}

#cadastro-publi > h2{
    font-size: var(--tamanho-fonte-lg);
    color: var(--cor-preto);
    font-weight: 800;
}

#cadastro-publi > form > textarea{
    width: 100%;
    height: 120px; 
    background-color: var(--cor-branco);
    resize: none;
    padding: 10px;
    color: var(--cor-preto);
    font-size: var(--tamanho-fonte-sm);
}