@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yatra+One&display=swap');

:root{
    --cor-preto: #100C08;
    --cor-roxo-escuro: #32127A;
    --cor-roxo-claro: #9400D3;
    --cor-roxo-medio: #663399;
    --cor-branco: #FFFFFF;

    --borda: 1px solid var(--cor-preto);
    --borda-arredondada: 2px;

    --tamanho-fonte-lg: 20px;
    --tamanho-fonte-md: 16px;
    --tamanho-fonte-sm: 14px;

}


/*SELOTOR GLOBAL*/
*{
    font-family: "Akaya Telivigala", system-ui;
    padding: 0;
    margin: 0;
    box-sizing: border-box;/*O valor total do tamanho do elemento contra tanto com espaços interno/externo e as bordas*/
}

body{
    background-color: var(--cor-branco);
}

h1{
    position: absolute;
    z-index: -1;/*camadas do elemento*/
    opacity: 0;
}


input{
    width: 100%;
    height: 35px;
    border: var(--borda);
    background-color: var(--cor-branco);
}